

@model List<Mountain_Goats_Bike_App.Models.Inventory>

    <h1>Inventory (First 30)</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Store ID</th>
                <th>Product ID</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>

            
            @foreach (var stocks in Model) {
                <tr>
                    <td>@stocks.Store_id</td>
                    <td>@stocks.Product_id</td>
                    <td>@stocks.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
